:root {
    background: white;
    color: black;
    transition: 0.5s;
}

.dark {

    background: #03001C;
    color: #b4b3b3;
    --primaryTitle: rgb(211, 211, 211);
    --primaryContent: #cccccc;
    --primarySubcontent: #100662;
    --primaryBase: #0b053b;
    --primaryAccent: white;
    --primaryBg: #03001C;
    --primaryFontBtn: white;
}

.light {
    
    color: rgb(78, 77, 77);
    --primaryTitle: rgb(77, 77, 77);
    --primaryContent: rgb(77, 77, 77);
    --primarySubcontent: #173a56;
    --primaryBase: #f3f3f3;
    --primaryAccent: #0b1d2b;
    --primaryBg: #03001C;
    --primaryFontBtn: white;
    --primaryBeforeBtn: rgb(218, 218, 218);
}